<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<title>{{ title }}</title>
	<meta charset="utf-8"/>


  	<meta name="description" content=""/>
  	<meta name="author" content=""/>


    <!-- stylesheets -->
    <link rel="stylesheet" href="{{ static_url("css/central.css") }}" type="text/css"/>
    <link rel="stylesheet" href="{{ static_url("css/styles.css") }}" type="text/css"/>

    <!--[if lte IE 7]>
    <link rel="stylesheet" href="{{ static_url("yaml/core/iehacks.min.css") }}" type="text/css"/>
    <![endif]-->
    <script src="{{ static_url("js/jquery-1.11.0.min.js") }}"></script>
    <script src="{{ static_url("js/jquery-migrate-1.2.1.min.js") }}"></script>

<script>
$(document).ready(function() {
  $("#pageshow_form").submit(function(event){
       event.preventDefault();
    window.location="http://"+location.host+"?url="+encodeURIComponent($('#url').val())+"&min_quality="+$('#min_quality').val()+"&max_quality="+$('#max_quality').val()+"&step="+$('#step').val()+"&format="+$('#format').val();
  });

  function load_images(row, url, format, quality) {
    var size0 = '';
    var size1 = '';
    var type0 = '';
    var type1 = '';
    var url0 = 'http://' +location.host+ '/image?url='+encodeURIComponent(url);
    var url1 = 'http://' +location.host+ '/image?url='+encodeURIComponent(url) +'&fmt='+ format +'&q='+quality;

    var xmlHTTP0 = new XMLHttpRequest();
    xmlHTTP0.open('GET', url0,true);

    xmlHTTP0.responseType = 'arraybuffer';

    xmlHTTP0.onload = function(e)
    {

        type0 = this.getResponseHeader('Content-Type');
        size0 = this.getResponseHeader('Content-Length');

        var arr = new Uint8Array(this.response);

        var raw = '';
        var i,j,subArray,chunk = 5000;
        for (i=0,j=arr.length; i<j; i+=chunk) {
        subArray = arr.subarray(i,i+chunk);
           raw += String.fromCharCode.apply(null, subArray);
        }

        var b64=btoa(raw);
        var dataURL0="data:image/jpeg;base64,"+b64;

            var xmlHTTP1 = new XMLHttpRequest();
            xmlHTTP1.open('GET', url1,true);

            xmlHTTP1.responseType = 'arraybuffer';

            xmlHTTP1.onload = function(e)
            {
                type1 = this.getResponseHeader('Content-Type');
                size1 = this.getResponseHeader('Content-Length');
                var arr = new Uint8Array(this.response);

                var raw = '';
                var i,j,subArray,chunk = 5000;
                for (i=0,j=arr.length; i<j; i+=chunk) {
                subArray = arr.subarray(i,i+chunk);
                   raw += String.fromCharCode.apply(null, subArray);
                }

                var b64=btoa(raw);
                var dataURL1="data:image/jpeg;base64,"+b64;

                var t = '<table>';
                t += '<tr><td>' + type0 + ' | ' + size0 +'</td><td>'+type1 + ' | ' + quality + ' | ' + size1  + ' | ' + (size1/size0*100) + '%</td></tr>';
                t += '<tr><td><img src="' +dataURL0 +'"/></td><td> <img src="'+dataURL1+'" /></td></tr>';
                t += '</table>';

                $('#image-table .row' + row).html(t);
            };

            xmlHTTP1.send();
    };

    xmlHTTP0.send();
  };

  image_url = "{{ url }}";
  max_quality = {{ max_quality }};
  min_quality = {{ min_quality }};
  step = {{ step }};
  format = "{{ format }}";

  if (min_quality <= 0) {
    min_quality = 1;
  }
  for (var row=0, quality=max_quality; quality>=min_quality; ) {
    $('#image-table').append('<tr><td class="row'+row +'"></td></tr>');

    load_images(row, image_url, format, quality);
    row++;
    quality -= step;
  }

});


</script>
</head>

<body>


<div id="pagespeed_show">
<div class="ym-wrapper">
    <div class="ym-wbox">
  	<form method="POST" class="ym-form ym-columnar" id="pageshow_form">
  		<h6 class="ym-fbox-heading">Image Factory </h6>
  		<div class="ym-fbox">
  			<label for="url">URL：  </label>
  			<input name="url" id="url" type="text" size="256" value="{{ url }}" placeholder="Enter image url"/>
  		</div>
		<div class="ym-fbox">
			  <div class="ym-fbox-wrap ym-grid">
          <div class="ym-g25 ym-gl">
            <div class="ym-gbox-left">
              <label for="max_quality">Max Quality</label>
              <input type="text" name="max_quality" id="max_quality" value="{{ max_quality }}" placeholder="100" />
            </div>
          </div>
			    <div class="ym-g25 ym-gl">
			      <div class="ym-gbox-left">
			        <label for="min_quality" >Min Quality</label>
			        <input type="text" name="min_quality" id="min_quality" value="{{ min_quality }}" placeholder="1" />
			      </div>
			    </div>
			    <div class="ym-g25 ym-gl">
			      <div class="ym-gbox-left">
			        <label for="step">Quality Step</label>
			        <input type="text" name="step" id="step" value="{{ step }}" placeholder="10" />
			      </div>
			    </div>
          <div class="ym-g25 ym-gr">
            <div class="ym-gbox-right">
              <label for="format">format</label>
              <select name="format" id="format">
                  <option value="jpg" selected="selected">jpg</option>
                  <option value="png" >png</option>
                  <option value="gif" >gif</option>
                  <option value="webp" >webp</option>
              </select>
            </div>
          </div>
			  </div>
		</div>
		<div class="ym-fbox-footer ym-fbox-button">
			<button type="submit" class="save ym-save ym-success" id="custom">Submit</button>
		</div>
	</div>
	</form>

    </div>
  </div>
</div>

    <table id="image-table">
    </table>


</body>
